*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gotham Pro';
}

a {
    text-decoration: none;
    color: black;
    display: flex;
}

.container-input {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./img/bg-reg.png) no-repeat;
    background-size: cover;
    flex-direction: column;
}

.logo {
    font-size: 36px;
    font-weight: 200;
    color: #333300;
}

.title {
    font-size: 60px;
    font-weight: 500;
    color: #e2eba3;
}

.reg-window {
    background: none;
    border: 2px solid #e2eba3;
    width: 270px;
    height: 50px;
    border-radius: 10px;
    margin-top: 25px;
}

.reg-window::placeholder {
    color: #e2eba3;
    padding-left: 10px;
    font-weight: 200;
}

.btn-reg {
    height: 50px;
    padding: 0 15px;
    background: #e2eba3;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333300;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 25px;
}

.last-text {
    color: #e2eba3;
    margin-top: 20px;
    font-weight: 200;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.container-separator {
    
    z-index: -1;
}

.menu {
    max-width: 260px;
    text-align: center;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.logo-menu {
    font-size: 24px;
    color: #333300;
    background: #e2eba3;
    padding: 30px 0px;
    text-align: center;
    margin-bottom: 30px;
}

.account .name {
    font-size: 20px;
    margin-bottom: 30px;
}

.friends--list {
    margin: 0 20px;
    border: 1px solid #888888;
    border-radius: 10px;
    min-height: 160px;
}

.title--friends {
    font-size: 16px;
    border-radius: 10px;
    background: #d0d0d0;
    border: 1px solid #888888;
    width: 100%;
    display: block;
    padding: 5px 0;
}

.friends--list .item {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-bottom: 1px solid #d0d0d0;
}

.photo--item {
    border-radius: 50%;
    background: #888;
    width: 40px;
    height: 40px;
    margin-right: 5px;
}

.name--item {
    font-size: 12px;
}

.descr--item {
    font-size: 12px;
    color: #8e8d8d;
    text-align: left;
}

.wrap-menu {
    padding: 10px;
}

.exit-btn {
    background: #ff6868;
    padding: 5px 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 40px;
}

.search {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #b5b5b5;
}

.search::placeholder {
    font-size: 20px;
    font-weight: 200;
}

.load-btn {
    font-size: 18px;
    color: #333300;
    background: #e2eba3;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.select-btn {
    font-size: 18px;
    color: #333300;
    background: #b5b5b5;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.autor {
    margin-top: 75%;
    font-weight: 200;
}

.header {
    width: 100%;
    height: 40px;
    background: #e8e8e8;  
    position: fixed;
    
}

.head--wrapper {
    margin-left: 270px;
    height: 40px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.item--header {
    height: 40px;
    align-items: center;
    padding: 0 100px;
    border-right: solid 1px black;
}
.item--header2 {
    height: 40px;
    align-items: center;
    padding: 0 100px;
}
.item--header2:hover {
    background: #b5b5b5;
}

.item--header:hover {
    background: #b5b5b5;
}

.content {
    background: url(./img/content-bg.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-left: 235px;
    padding: 30px;
    overflow: scroll;
}

.separator {
    border-bottom: 2px solid #fff;
    font-size: 24px;
    padding-top: 10px;
    width: 300px;
    display: block;
    color: #fff;
    margin-left: 1%;
    font-weight: 200;
}

.photo {
    width: 170px;
    height: 130px;
    margin: 30px;
    margin-left: 0;
}

.photo-container {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15%;
    margin-left: 1%;
}

.container-alboms{
    display: flex;
    flex-wrap: wrap;
    padding-right: 8%;
}

.alboms {
    min-width: 300px;
    height: 200px;
    margin: 30px;
    border-radius: 15px;
}

.albom1 {
    min-width: 300px;
    height: 200px;
    background: url("https://s1.1zoom.me/big0/598/313032-Lastochka.jpg");
    background-size: cover;
}

.albom2 {
    min-width: 300px;
    height: 200px;
    background: url("https://wallbox.ru/wallpapers/main/201151/koshki-f60c1e13bc32.jpg");
    background-size: cover;
}

.albom3 {
    min-width: 300px;
    height: 200px;
    background: url("https://media.kg-portal.ru/tv/h/humans/images/humans_10.jpg");
    background-size: cover;
}

.albom4 {
    min-width: 300px;
    height: 200px;
    background: url("https://www.zastavki.com/pictures/1920x1200/2009/Drawn_wallpapers_junior_artist_World_016614_.jpg");
    background-size: cover;
}

.albom5 {
    min-width: 300px;
    height: 200px;
    background: url("https://losko.ru/wp-content/uploads/2014/09/Project_logo_02.png");
    background-size: cover;
}



.title--albom {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 40px;
    background: #d0d0d0;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-photos-bg {
    background: url(./img/our-photos.png) no-repeat;
    background-size: cover;
}

.container-our-photos {
    display: none;
}

.title--message {
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin-left: 20px;
    margin-top: 30px;
}
.text--message {
    margin-left: 20px;
    max-width: 650px;
    font-weight: 300;
    margin-top: 10px;
    font-size: 24px;
    color: white;
}

.btn-our-photos {
    margin-left: 20px;
    font-size: 18px;
    color: #333300;
    background: #e2eba3;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 30px;
}

.togle-button {
    display: none;
}

@media (max-width: 500px) {
    .menu {
        display: none;
        margin-top: 40px;
        background: #fff;
        height: 100vh;
    }

    .item--header2 {
        padding: 10px;
        margin: 0;
        font-size: 10px;
        margin-right: 60px;
    }
    .item--header {
        padding: 10px;
        font-size: 12px;
    }

    .head--wrapper {
        margin: 0;
    }

    .content {
        margin: 0;
        padding: 4px;
        padding-left: 20px;
    }

    .photo {
        width: 80px;
        height: 60px;
        margin: 5px;
    }
    .photo-container {
        margin: 0;
    }

    .separator {
        font-size: 20px;
        width: 100px;
        margin-bottom: 30px;
    }

    .togle-button {
        display: block;
        border-right: 1px solid black ;
        height: 40px;
        margin-right: 50px;
        padding-left: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 15px;
    }

    .togle-menu {
        display: block;
    }

    .title {
        font-size: 40px;
    }
    .logo {
        color: #acac00;
        text-align: center;
    }
}